@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: "League Spartan", sans-serif;
}
img{
    max-width: 100%;
}
.header{
}
.header_hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}
.header_left{
    background-image: url(images/desktop-image-hero-1.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
.header_logo img{
    margin-left: 30px;
}
.header_menu ul{
    display: flex;
    gap: 20px;
}
.header_menu ul li{
    list-style: none;
}
.header_menu ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 14px;

}

.header_right{
    max-width: 360px;
    padding-top: 40px;
}
.header_right h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}
.header_right p{
    color: hsl(0, 0%, 63%);
    line-height: 24px;
    margin: 20px 0;
}
.header_right .btn{
    text-decoration: none;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: hsl(0, 0%, 27%);
    font-weight: 700;
    font-size: 14px;
}
.carousel_icon{
    display: block;
    margin-top: 37px;
    background-color: #000;
    padding: 15px 18px;
    color: hsl(0, 0%, 80%);
    margin-left: -80px;
}
.carousel_icon i{
    margin-right: 10px;
    margin-left: 10px;
}

/* Product section */
.product{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.product_item h2{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}
.product_item p{
    color: hsl(0, 0%, 63%);;
    font-size: 14px;
    line-height: 18px;
}
.product_review{
    max-width: 500px;
    margin: auto;
}

/* Responsvie Design */
@media screen and (max-width: 1120px) {
    .carousel_icon{
        margin-top: 12px;
    }
    
}
@media screen and (max-width: 1010px) {
    .carousel_icon{
        display: none;
    }
    
}
@media screen and (max-width: 910px) {
    .header_hero{
        gap: 40px;
    }
    .header_right h1{
        font-size: 28px;
        line-height: 36px;
    }
    .header_right p{
        margin: 10px 0;
    }
    .header_right .btn{
        font-size: 12px;
    }
    .product_review{
        max-width: 400px;
    }
    
}

@media screen and (max-width: 768px) {
    .header_hero{
        gap: 20px;
    }
    .header_right{
        padding-top: 20px;
    }
    .header_right h1{
        font-size: 22px;
        line-height: 24px;
    }
    .header_right p{
        margin: 10px 0;
        font-size: 14px;
        line-height: 18px;
    }
    .header_right .btn{
        font-size: 12px;
    }
    .product_review{
        max-width: 350px;
        margin-top: 10px;
    }
    .product_item h2{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .product_item p{
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width:500px) {
    .header_logo img{
        max-width: 40px;
    }
    .header_hero{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .header_right{
        max-width: 450px;
        margin: auto;
        padding-top: 10px;
    }
    .header_right h1{
        font-size: 32px;
        line-height: 36px;
    }
    .header_right p{
        margin: 10px 0;
        font-size: 16px;
        line-height: 24px;
    }
    .header_right .btn{
        font-size: 12px;
        display: block;
        margin-top: 25px;
    }
    .carousel_icon{
        display: block;
        margin: 25px 0;
        margin-left: 0px;
    }
    .product{
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin: auto;
    }
    .product_item h2{
        margin: 20px 0;
        font-size: 18px;
    }
    .product_item p{
        color: hsl(0, 0%, 63%);;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .product_review{
        max-width: 450px;
        margin: auto;
    }
}

@media screen and (max-width: 330px) {
    .header_left{
        height: 200px;
        gap: 15px;
        padding-top: 15px;
    }
    .header_logo img{
        margin-left: 10px;
        max-width: 35px;
    }
    .header_menu ul{
        gap: 10px;
    }
    .header_menu ul li a{
        font-size: 12px;
    }
    .header_right h1{
        font-size: 22px;
        line-height: 28px;
    }
    .header_right .btn{
        font-size: 10px;
    }
    .product_item h2{
        font-size: 13px;
        line-height: 18px;
        margin: 5px 0;
    }
}